<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Invi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Invi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Invi.Properties.Settings>
            <setting name="themeName" serializeAs="String">
                <value />
            </setting>
            <setting name="userToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </Invi.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Invi.Properties.Settings>
            <setting name="ftpPassword" serializeAs="String">
                <value>1166</value>
            </setting>
            <setting name="ftpLogin" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="ftpUrl" serializeAs="String">
                <value>ftp://90.188.88.232/</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>1ad1b5820bb1496793a868032e95493d</value>
            </setting>
        </Invi.Properties.Settings>
    </applicationSettings>
</configuration>