<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InviUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <InviUpdate.Properties.Settings>
            <setting name="ftpUrl" serializeAs="String">
                <value>ftp://90.188.88.232/</value>
            </setting>
            <setting name="ftpLogin" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value>1166</value>
            </setting>
        </InviUpdate.Properties.Settings>
    </applicationSettings>
</configuration>